<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>

<div class="container px-5 pt-4 pm-4">
    <div class="py-5 text-center">
        <p class="fs-1 fw-bold">공구친구 가입하기</p>
    </div>

    <form action="" th:action th:object="${member}" method="post">
        <div class="box px-4 py-5">
            <div th:if="${#fields.hasGlobalErrors()}">
                <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                   th:text="${err}">전체 오류 메시지</p>
            </div>

            <div class="pb-4">
                <label for="loginId">- 사용자 ID</label>
                <br>
                <input type="text" id="loginId" th:field="*{loginId}" placeholder="아이디" class="form-control"
                       th:errorclass="field-error">
                <div class="field-error" th:errors="*{loginId}"/>
            </div>

            <div class="pb-4">
                <label for="password">- 비밀번호</label>
                <br>
                <input type="password" id="password" th:field="*{password}" placeholder="비밀번호" class="form-control"
                       th:errorclass="field-error">
                <div class="field-error" th:errors="*{password}"/>
            </div>

            <div class="pb-3">
                <label for="name">- 이름</label>
                <br>
                <input type="text" id="name" th:field="*{name}" placeholder="이름" class="form-control "
                       th:errorclass="field-error">
                <div class="field-error" th:errors="*{name}"/>
            </div>
        </div>
        <br>
        <div class="row py-5">
            <div class="col">
                <button class="w-100 btn btn-lg b_join" type="submit">
                    회원 가입
                </button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-lg b_no"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/}'|"
                        type="button">
                    취소
                </button>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</body>
</html>