<nav th:fragment="navbarFragment" class="navbar navbar-expand-sm fixed-bottom navbar-light bottomLayout" role="navigation">
    <div class="container-fluid" role="navigation">
        <div class="row navbar-collapse" id="navbarScroll">
                <div class="col d-flex justify-content-center">
                    <a href="/" class="bottomText" th:onclick="|location.href='@{/}'|">
                        <img  th:src="@{../img/home.png}" style="width: 40px" alt="home"/>
                    </a>
                </div>
            <div class="col d-flex justify-content-center">
                <a href="/chatList" class="bottomText" th:onclick="|location.href='@{/chatList}'|">
                    <img  th:src="@{../img/chat.png}" style="width: 40px" alt="chat"/>
                </a>
            </div>
            <div class="col d-flex justify-content-center">
                <a href="#" class="bottomText" th:onclick="|location.href='@{/mypage}'|">
                    <img  th:src="@{../img/mypage.png}" style="width: 40px" alt="mypage"/>
                </a>
            </div>
        </div>
    </div>
</nav>
