<nav th:fragment="navbarFragment" class="navbar navbar-expand-sm fixed-bottom navbar-light bottomLayout" role="navigation">
    <div class="container-fluid " role="navigation">
        <div class="row navbar-collapse" id="navbarScroll">
                <div class="col d-flex justify-content-center">
                    <a href="/" class="bottomText">
                        <img src="img/home.png" style="width: 40px" alt=""/>
                        홈
                    </a>
                </div>
            <div class="col d-flex justify-content-center">
                <a href="/chat" class="bottomText">
                    <img src="img/chat.png" style="width: 40px" alt=""/>
                    채팅
                </a>
            </div>
            <div class="col d-flex justify-content-center">
                <a href="#" class="bottomText">
                    <img src="img/mypage.png" style="width: 40px" alt=""/>
                    마이페이지
                </a>
            </div>
        </div>
    </div>
</nav>
