<div th:fragment="roomCreate" class="roomCreateBTNLayout">
    <input id="plusBTN" type="checkbox">

    <label for="plusBTN" id="RCB_menu">
        <button class="RCB_btn" th:onclick="|location.href='@{/createRoom}'|">모임</button>
    </label>
    <label for="plusBTN" id="RCB_menu">
        <button class="RCB_btn" th:onclick="|location.href='@{/post}'|">공구</button>
    </label>
    <label for="plusBTN" id="RCB_menu">
        <button class="RCB_btn">택시</button>
    </label>


    <label for="plusBTN" id="plus"><img th:src="@{img/plus.png}" class="RCB_img"></label>
    <label for="plusBTN" id="x"><img th:src="@{img/plusX.png}" class="RCB_img"></label>

</div>