body {
    background-color: #f2f2f2;
}

.icon {
    width: 25px;
    margin-right: 10px
}

.title {
    color: #494949;
}

.chatBox {
    border-radius: 30px;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 10px lightgray ;

    transition: 0.2s;
}

.chatBox:hover {
    background-color: #FFFFFF;
    border: rgba(34, 109, 83, 0.43) solid thin;

    filter: brightness(0.9);
}

.userNum {
    color: #919191;
}