<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Chat Application</title>
    <link rel="stylesheet" th:href="@{/css/chat.css}" />
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stomp-websocket/lib/stomp.min.js"></script>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <!-- 아래의 h4에서 이름을 가져오기 때문에 지우면 안됩니다. h4 말고 다른 타입으로 교체하거나 이동은 가능! -->
    <h4 th:text="|채팅방 제목: ${room.roomTitle}|" th:data-room-id="${room.roomId}" id="room">방 제목</h4>
    <span th:text="${room.currentNum}">현재 인원 수</span>
    /
    <span th:text="${room.recruitNum}">모집 인원 수</span>
    <!-- 여기서부터 메세지 -->
    <ul id="messages" class="messages"></ul>
    <!-- 여기서부터 메세지 전송 버튼 -->
    <form onsubmit="sendMessage(); return false;">
        <!-- 아래의 span에서 이름을 가져오기 때문에 지우면 안됩니다. span 말고 다른 타입으로 교체하거나 이동은 가능! -->
        Your name: <span th:text="${member.name}" id="from" th:data-member-id="${member.id}"></span>
        <label for="text"></label><input type="text" id="text" placeholder="Your message">
        <button type="submit">Send</button>
    </form>
    <!-- 여기서부터 bottom nav -->
    <hr class="my-4">
    <div class="row text-center">
        <div class="col">
            <button class="btn btn-secondary btn-lg btn-same-width" type="button"
                    th:onclick="|location.href='@{/}'|">
                홈
            </button>
        </div>
        <div class="col">
            <button class="btn btn-secondary btn-lg btn-same-width" type="button"
                    th:onclick="|location.href='@{/chatList}'|">
                채팅
            </button>
        </div>
        <div class="col">
            <button class="btn btn-secondary btn-lg btn-same-width" type="button"
                    th:onclick="|location.href='@{/mypage}'|">
                마이 페이지
            </button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>
<script>
    var stompClient = null;

    function connect() {
        var socket = new SockJS('/chat');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/messages', function (message) {
                var messageBody = JSON.parse(message.body);
                showMessage(messageBody.from, messageBody.text, messageBody.formattedTimestamp);
            });
        });
    }

    function sendMessage() {
        var from = document.getElementById('from').textContent;
        var text = document.getElementById('text').value;
        var roomId = document.getElementById('room').dataset.roomId; // Use dataset to access data attributes
        var memberId = document.getElementById('from').dataset.memberId;
        stompClient.send("/app/message", {}, JSON.stringify({'from': from, 'text': text, 'from_id': memberId, 'room_id': roomId}));
    }

    function showMessage(from, message, formattedTimestamp) {
        var me = document.getElementById('from').textContent;
        let mine = me === from;
        var messages = document.getElementById('messages');
        var messageElement = document.createElement('li');
        if (mine) { messageElement.classList.add("mine-message"); }
        else { messageElement.classList.add("other-message");}


        // Create a span for the sender's name
        var senderSpan = document.createElement('span');
        senderSpan.classList.add("sender-name");
        if (mine) { senderSpan.textContent = from + ": "; }
        else { senderSpan.textContent = " :" + from; }

        // Create a container for the message and timestamp
        var messageTimestampContainer = document.createElement('div');
        if (mine) { messageTimestampContainer.classList.add("mine-message-with-timestamp"); }
        else { messageTimestampContainer.classList.add("message-with-timestamp"); }

        // Create a span for the message text
        var messageSpan = document.createElement('span');
        if(mine) { messageSpan.classList.add("mine-message-box"); }
        else { messageSpan.classList.add("message-box"); }
        messageSpan.textContent = message;

        // Create a span for the formatted timestamp
        var timestampSpan = document.createElement('span');
        if (mine) { timestampSpan.classList.add("mine-message-timestamp"); }
        else { timestampSpan.classList.add("message-timestamp"); }
        timestampSpan.textContent = formattedTimestamp; // Use the formattedTimestamp from the server

        if (mine) {
            messageTimestampContainer.appendChild(timestampSpan);
            messageTimestampContainer.appendChild(messageSpan);
        } else {
            messageElement.appendChild(senderSpan);
            messageTimestampContainer.appendChild(messageSpan);
            messageTimestampContainer.appendChild(timestampSpan);
        }


        // Append the container to the message element
        messageElement.appendChild(messageTimestampContainer);

        messages.appendChild(messageElement);
        messages.scrollTop = messages.scrollHeight;
}

    window.addEventListener("load", connect, false);
</script>
