<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chat List Page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" th:href="@{/css/chatlist.css}" />
    <link th:href="@{/css/bootstrap.min.css}"
          href="../static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>진행중인 채팅</h2>
    </div>
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 th:text="|로그인: ${member.name}|">로그인 사용자 이름</h4>
        <form th:action="@{/logout}" method="post">
            <div class="d-flex justify-content-end">
                <button class="btn btn-dark btn-lg" type="submit">
                    로그아웃
                </button>
            </div>
        </form>
    </div>
    <hr class="my-4">
    <div class="d-flex flex-column">
        <div th:each="room : ${room}" class="p-2"> <!-- Note the change from ${room} to ${rooms} -->
            <button class="btn btn-secondary btn-lg mb-3" type="button"
                    th:onclick="'location.href=\'/chat?roomId=' + ${room.roomId} + '\''">
                <span th:text="${room.roomTitle}">방 제목</span>
                <span th:text="${room.currentNum}">현재 인원 수</span>
                /
                <span th:text="${room.recruitNum}">모집 인원 수</span>
            </button>

        </div>
    </div>
    <hr class="my-4">
    <div class="row text-center">
        <div class="col">
            <button class="btn btn-secondary btn-lg btn-same-width" type="button"
                    th:onclick="|location.href='@{/}'|">
                홈
            </button>
        </div>
        <div class="col">
            <button class="btn btn-secondary btn-lg btn-same-width" type="button"
                    th:onclick="|location.href='@{/chatList}'|">
                채팅
            </button>
        </div>
        <div class="col">
            <button class="btn btn-secondary btn-lg btn-same-width" type="button"
                    th:onclick="|location.href='@{/mypage}'|">
                마이 페이지
            </button>
        </div>
    </div>
</div> <!-- /container -->
</body>
</html>
<script>
</script>
