<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Chat Application</title>
    <link rel="stylesheet" th:href="@{/css/chat.css}"/>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stomp-websocket/lib/stomp.min.js"></script>
    <meta charset="utf-8">

    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/chat.css}"/>
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>

<nav th:replace="~{/navbar/bottomNavbar :: navbarFragment}"></nav>

<!-- 아래의 h4에서 이름을 가져오기 때문에 지우면 안됩니다. h4 말고 다른 타입으로 교체하거나 이동은 가능! -->
<nav class="navbar sticky-top chatTopbar d-inline-flex justify-content-start">
    <a href="javascript:history.back();">
        <img th:src="@{img/back.png}" class="chat_backBTN">
    </a>
    <span th:text="|${room.roomTitle}|" th:data-room-id="${room.roomId}" id="room"
          class="chatroomName"></span>
    <span th:text="|${room.currentNum}|" class="chatroomUserCount"></span>
</nav>

<div class="container" style="max-width: 600px">
    <!-- 여기서부터 메세지 -->
    <ul id="messages" class="messages">
        <!-- 여기서부터 불러온 이전 메세지 -->
        <div th:each="message : ${ChatMessage}">
            <!-- 내가 보냈던 메세지 -->
            <div th:if="${message.sender.name == member.name}">
                <!-- member.name과 message.sender가 같을 때 -->
                <div class="mine-message">
                    <span class="mine-message-timestamp" th:text="${message.formattedTimestamp}"></span>
                    <span class="mine-message-box" th:text="${message.text}"></span>
                </div>
            </div>
            <!-- 내가 받았던 메세지 -->
            <div th:if="${message.sender.name != member.name}">
                <!-- member.name과 message.sender가 다를 때 -->
                <div class="other-message">
                    <span class="sender-name" th:text="${message.sender.name} + ':'"></span>
                    <div class="message-with-timestamp">
                        <span class="message-box" th:text="${message.text}"></span>
                        <span class="message-timestamp" th:text="${message.formattedTimestamp}"></span>
                    </div>
                </div>
            </div>
            <!-- 여기서부터 새로 받는 메세지 -->
        </div>
    </ul>
    <!-- 여기서부터 메세지 전송 버튼 -->
    <nav class="navbar fixed-bottom chatBottombar inputText d-flex justify-content-center">
        <form onsubmit="sendMessage(); return false;">
            <!-- 아래의 span에서 이름을 가져오기 때문에 지우면 안됩니다. span 말고 다른 타입으로 교체하거나 이동은 가능! -->
            <span th:text="${member.name}" id="from" th:data-member-id="${member.id}" class="d-none"></span>
                <label for="text"></label><input type="text" id="text" placeholder="" class="chatText">
                <button type="submit" class="chatSend">Send</button>
        </form>
    </nav>
</div> <!-- /container -->
</body>
</html>
<script>
    var stompClient = null;
    var messagesDiv = document.getElementById('messages');
    messagesDiv.scrollTop = messagesDiv.scrollHeight;
    document.body.scrollTop = document.body.scrollHeight;

    function connect() {
        var socket = new SockJS('/chat');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/messages', function (message) {
                var messageBody = JSON.parse(message.body);
                showMessage(messageBody.from, messageBody.text, messageBody.formattedTimestamp);
            });
        });
    }

    function sendMessage() {
        var from = document.getElementById('from').textContent;
        var text = document.getElementById('text').value;
        var roomId = document.getElementById('room').dataset.roomId; // Use dataset to access data attributes
        var memberId = document.getElementById('from').dataset.memberId;
        stompClient.send("/app/message", {}, JSON.stringify({
            'from': from,
            'text': text,
            'from_id': memberId,
            'room_id': roomId
        }));
    }

    function showMessage(from, message, formattedTimestamp) {
        var me = document.getElementById('from').textContent;
        let mine = me === from;
        var messages = document.getElementById('messages');
        var messageElement = document.createElement('li');
        if (mine) {
            messageElement.classList.add("mine-message");
        } else {
            messageElement.classList.add("other-message");
        }


        // Create a span for the sender's name
        var senderSpan = document.createElement('span');
        senderSpan.classList.add("sender-name");
        if (mine) {
            senderSpan.textContent = from + ": ";
        } else {
            senderSpan.textContent = " :" + from;
        }

        // Create a container for the message and timestamp
        var messageTimestampContainer = document.createElement('div');
        if (mine) {
            messageTimestampContainer.classList.add("mine-message-with-timestamp");
        } else {
            messageTimestampContainer.classList.add("message-with-timestamp");
        }

        // Create a span for the message text
        var messageSpan = document.createElement('span');
        if (mine) {
            messageSpan.classList.add("mine-message-box");
        } else {
            messageSpan.classList.add("message-box");
        }
        messageSpan.textContent = message;

        // Create a span for the formatted timestamp
        var timestampSpan = document.createElement('span');
        if (mine) {
            timestampSpan.classList.add("mine-message-timestamp");
        } else {
            timestampSpan.classList.add("message-timestamp");
        }
        timestampSpan.textContent = formattedTimestamp; // Use the formattedTimestamp from the server

        if (mine) {
            messageTimestampContainer.appendChild(timestampSpan);
            messageTimestampContainer.appendChild(messageSpan);
        } else {
            messageElement.appendChild(senderSpan);
            messageTimestampContainer.appendChild(messageSpan);
            messageTimestampContainer.appendChild(timestampSpan);
        }


        // Append the container to the message element
        messageElement.appendChild(messageTimestampContainer);

        messages.appendChild(messageElement);
        messages.scrollTop = messages.scrollHeight;
    }

    window.addEventListener("load", connect, false);
</script>
