<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chat List Page</title>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/chatlist.css}"/>
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>

<nav th:replace="~{/navbar/topNavbar :: navbarFragment}"></nav>
<nav th:replace="~{/navbar/bottomNavbar :: navbarFragment}"></nav>
<nav th:replace="~{/navbar/roomCreateBTN :: roomCreate}"></nav>

<div class="container p-3" style="max-width: 600px">
    <div class="pt-4 pb-3 text-start b">
        <h4 class="title fw-bold"><img th:src="@{img/label.png}" class="icon">진행 중인 채팅</h4>
    </div>

    <div class="d-flex flex-column">
        <div th:each="room : ${room}" class="p-2 pb-1 d-grid gap-2"> <!-- Note the change from ${room} to ${rooms} -->
            <button class="btn btn-lg mb-3 py-5 px-4 text-start chatBox" type="button"
                    th:onclick="'location.href=\'/chat?roomId=' + ${room.roomId} + '\''" th:id="${room.roomCategory}">
                <span th:text="${room.roomTitle}" class="fs-5">방 제목</span>
                &nbsp
                <span class="fs-6 userNum">
                    (<span th:text="${room.currentNum}">현재 인원 수</span>
                    /
                    <span th:text="${room.recruitNum}">모집 인원 수</span>)
                </span>
            </button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>
<script>
</script>
