<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Chat Application</title>
    <link rel="stylesheet" th:href="@{/css/chat.css}"/>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stomp-websocket/lib/stomp.min.js"></script>
    <!--script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_T-pMYQn_nCgQI_LYGEIHPWWw7x79xXY&callback=initMap" async defer></script-->
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=hseqxr441y"></script>
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=hseqxr441y&submodules=geocoder"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/chat.css}"/>
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <!--link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <style>
        #map {
            width: 100%;
            height: 500px;
            margin-top: 20px;
        }

        .address-form {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin: 20px 0;
        }

        .address-form input[type="text"] {
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 200px;
        }

        .address-form button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .address-form button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>

<nav th:replace="~{/navbar/bottomNavbar :: navbarFragment}"></nav>

<!-- 아래의 h4에서 이름을 가져오기 때문에 지우면 안됩니다. h4 말고 다른 타입으로 교체하거나 이동은 가능! -->
<nav class="navbar sticky-top chatTopbar d-inline-flex justify-content-start">
    <a href="javascript:history.back();">
        <img th:src="@{img/back.png}" class="chat_backBTN">
    </a>
    <span th:text="|${room.roomTitle}|" th:data-room-id="${room.roomId}" id="room"
          class="chatroomName"></span>
    <span th:text="|${room.currentNum}|" class="chatroomUserCount"></span>
    <span th:switch="${room.roomCategory}" id="category" class="chatroomName chatroomCategory">
        <span th:case="1">모임 모집</span>
        <span th:case="2">공동 구매</span>
        <span th:case="3">택시 모집</span>
        <span th:case="*">기타</span>
    </span>

</nav>

<div class="container" style="max-width: 600px">
    <!-- 여기서부터 메세지 -->
    <ul id="messages" class="messages">
        <!-- 여기서부터 불러온 이전 메세지 -->
        <div th:each="message : ${ChatMessage}">
            <!-- 내가 보냈던 메세지 -->
            <div th:if="${message.sender.name == member.name}">
                <!-- member.name과 message.sender가 같을 때 -->
                <div class="mine-message">
                    <span class="mine-message-timestamp" th:text="${message.formattedTimestamp}"></span>
                    <span class="mine-message-box" th:text="${message.text}"></span>
                </div>
            </div>
            <!-- 내가 받았던 메세지 -->
            <div th:if="${message.sender.name != member.name}">
                <!-- member.name과 message.sender가 다를 때 -->
                <div class="other-message">
                    <span class="sender-name" th:text="${message.sender.name}"></span>
                    <div class="message-with-timestamp">
                        <span class="message-box" th:text="${message.text}"></span>
                        <span class="message-timestamp" th:text="${message.formattedTimestamp}"></span>
                    </div>
                </div>
            </div>
            <!-- 여기서부터 새로 받는 메세지 -->
        </div>
    </ul>
    <!-- 여기서부터 메세지 전송 버튼 -->
    <nav class="navbar fixed-bottom chatBottombar inputText px-3">
        <form onsubmit="sendMessage(); return false;" class="d-flex align-items-center">
            <!-- 아래의 span에서 이름을 가져오기 때문에 지우면 안됩니다. span 말고 다른 타입으로 교체하거나 이동은 가능! -->
            <span th:text="${member.name}" id="from" th:data-member-id="${member.id}" class="d-none"></span>
            <label for="text" class="d-none"></label>
            <input type="text" id="text" placeholder="" class="chatText">
            <button type="submit" class="chatSend"><img th:src="@{img/send.png}"></button>
        </form>
        <div type="button" class="mapSend" th:if="${room.roomCategory == 3}"><img id="mapButton" th:src="@{/img/map.png}" alt=""></div>
    </nav>
</div> <!-- /container -->
<div id="mapContainer">
    <div id="mapCover" th:if="${room.roomCategory == 3}">
        <div id="mapDiv" th:if="${room.roomCategory == 3}">
            <label class="address-form">
                <input type="text" id="addr1" value="불정로 6" >
                <input type="text" id="addr2" value="광교산로 154" >
                <button type="button" onclick="searchAddress()">검색</button>
            </label>
            <div id="map" style="width:100%; height:80%;" th:if="${room.roomCategory == 3}"></div>
        </div>
    </div>
</div>
</body>
</html>
<script>

    window.onload = function () {
        window.scrollTo(0, document.body.scrollHeight);
    };

    var stompClient = null;

    function connect() {
        var socket = new SockJS('/chat');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/messages', function (message) {
                var messageBody = JSON.parse(message.body);
                showMessage(messageBody.from, messageBody.text, messageBody.formattedTimestamp);
            });
        });
    }

    function sendMessage() {
        var from = document.getElementById('from').textContent;
        var text = document.getElementById('text').value;
        var roomId = document.getElementById('room').dataset.roomId; // Use dataset to access data attributes
        var memberId = document.getElementById('from').dataset.memberId;
        stompClient.send("/app/message", {}, JSON.stringify({
            'from': from,
            'text': text,
            'from_id': memberId,
            'room_id': roomId
        }));
        // 인풋 박스 초기화
        var inputElement = document.getElementById('text');
        inputElement.value = "";
    }

    function showMessage(from, message, formattedTimestamp) {
        var me = document.getElementById('from').textContent;
        let mine = me === from;
        var messages = document.getElementById('messages');
        var messageElement = document.createElement('li');
        if (mine) {
            messageElement.classList.add("mine-message");
        } else {
            messageElement.classList.add("other-message");
        }


        // Create a span for the sender's name
        var senderSpan = document.createElement('span');
        senderSpan.classList.add("sender-name");
      
        if (!mine) {
            senderSpan.textContent = from;
        }

        // Create a container for the message and timestamp
        var messageTimestampContainer = document.createElement('div');
        if (mine) {
            messageTimestampContainer.classList.add("mine-message-with-timestamp");
        } else {
            messageTimestampContainer.classList.add("message-with-timestamp");
        }

        // Create a span for the message text
        var messageSpan = document.createElement('span');
        if (mine) {
            messageSpan.classList.add("mine-message-box");
        } else {
            messageSpan.classList.add("message-box");
        }
        messageSpan.textContent = message;

        // Create a span for the formatted timestamp
        var timestampSpan = document.createElement('span');
        if (mine) {
            timestampSpan.classList.add("mine-message-timestamp");
        } else {
            timestampSpan.classList.add("message-timestamp");
        }
        timestampSpan.textContent = formattedTimestamp; // Use the formattedTimestamp from the server

        if (mine) {
            messageTimestampContainer.appendChild(timestampSpan);
            messageTimestampContainer.appendChild(messageSpan);
        } else {
            messageElement.appendChild(senderSpan);
            messageTimestampContainer.appendChild(messageSpan);
            messageTimestampContainer.appendChild(timestampSpan);
        }


        // Append the container to the message element\
        messageElement.appendChild(messageTimestampContainer);

        messages.appendChild(messageElement);
        window.scrollTo(0, document.body.scrollHeight);
    }



    var category = document.getElementById('category').textContent;
    if (category.trim() === "택시 모집") {



        var map = new naver.maps.Map('map', {
            center: new naver.maps.LatLng(37.5665, 126.9780),
            zoom: 10
        });

        // 주소를 좌표로 변환하는 함수
        function getCoordinates(address, callback) {
            naver.maps.Service.geocode({
                query: address
            }, function(status, response) {
                if (status !== naver.maps.Service.Status.OK) {
                    return alert('Something wrong!');
                }

                var result = response.v2,
                    items = result.addresses;

                if (items.length > 0) {
                    var x = items[0].x;
                    var y = items[0].y;
                    callback(x, y);
                } else {
                    alert('No results found');
                }
            });
        }

        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(37.5665, 126.9780),
            map: map
        });
        var marker2 = new naver.maps.Marker({
            position: new naver.maps.LatLng(37.5665, 126.9780),
            map: map
        });
        getCoordinates('불정로 6', function(x, y) {
            var newLatLng = new naver.maps.LatLng(y, x);
            marker.setPosition(newLatLng);
        });
        getCoordinates('광교산로 154', function(x, y) {
            var newLatLng = new naver.maps.LatLng(y, x);
            marker2.setPosition(newLatLng);
        });



        function searchAddress() {
            var address = document.getElementById('addr1').value;
            var address2 = document.getElementById('addr2').value;
            getCoordinates(address, function(x, y) {
                var newLatLng = new naver.maps.LatLng(y, x);
                marker.setPosition(newLatLng);
                map.setCenter(newLatLng);
            });
            getCoordinates(address2, function(x, y) {
                var newLatLng = new naver.maps.LatLng(y, x);
                marker2.setPosition(newLatLng);
            });
        }


        document.getElementById("mapButton").addEventListener("click", function() {
            var mapButton = document.getElementById("mapDiv");
            var mapCover = document.getElementById("mapCover");
            if (mapButton.style.display === "none") {
                mapButton.style.display = "block";
                window.scrollTo(0, document.body.scrollHeight);
            } else {
                mapButton.style.display = "none";
            }
            if (mapCover.style.display === "none") {
                mapCover.style.display = "flex";
                window.dispatchEvent(new Event('resize'));
            } else {
                mapCover.style.display = "none";
            }
        });
    }

    window.addEventListener("load", connect, false);
</script>
