<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>공지사항</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/mypage.css}"/>
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
<nav th:replace="~{/navbar/topNavbar :: navbarFragment}"></nav>
<nav th:replace="~{/navbar/bottomNavbar :: navbarFragment}"></nav>

<div class="container px-4 pt-5">

    <div class="mb-3 mt-5 text-start b">
        <h4 class="title fw-bold"><img th:src="@{/img/label.png}" class="icon">공지사항</h4>
    </div>

    <div class="notice">
        <div class="notice-header">
            <p class="notice-date" th:text="${notice.noticeDate}">게시일자</p>
            <p class="notice-title" th:text="${notice.noticeTitle}">제목</p>
        </div>
        <div class="notice-body">
            <p th:text="${notice.noticeContent}">본문</p>
        </div>
    </div>
</div>
</body>
</html>