<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>공동구매 - 게시물 작성</title>
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
    <link rel="stylesheet" th:href="@{/css/font.css}"/>
    <link rel="stylesheet" th:href="@{/css/GroupBuy.css}"/>
</head>
<body>

<nav th:replace="~{/navbar/topNavbar :: navbarFragment}"></nav>
<nav th:replace="~{/navbar/bottomNavbar :: navbarFragment}"></nav>

<nav th:replace="~{/navbar/CategoryBar_G.B :: navbarFragment}"></nav>

<div class="container px-3">

    <div>
        <p class="postTitle"><img th:src="@{/img/label.png}" class="postIcon">공동구매 방 만들기</p>
    </div>

    <div class="box">
        <form action="/post" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="inputAuthor" class="postLabel">작성자</label>
                <input type="text" name="author" class="form-control postInput" id="inputAuthor"
                       th:value="${currentUserName}" readonly/>
            </div>
            <div class="form-group">
                <label for="inputRoomTitle" class="postLabel">제목</label>
                <input type="text" name="roomTitle" class="form-control postInput" id="inputRoomTitle"/>
            </div>
            <div class="form-group">
                <label for="inputSiteName" class="postLabel">구매하려는 사이트</label>
                <input type="text" name="siteName" class="form-control postInput" id="inputSiteName"/>
            </div>
            <div class="form-group">
                <label for="inputItemName" class="postLabel">상품명</label>
                <input type="text" name="itemName" class="form-control postInput" id="inputItemName"/>
            </div>
            <div class="form-group">
                <label for="inputItemPrice" class="postLabel">상품가격</label>
                <input type="number" name="itemPrice" class="form-control postInput" id="inputItemPrice"/>
            </div>
            <div class="form-group">
                <label for="inputRecruitNum" class="postLabel">모집 인원</label>
                <input type="text" name="recruitNum" class="form-control postInput" id="inputRecruitNum"/>
            </div>
            <div class="form-group">
                <label for="inputTotalPrice" class="postLabel">목표금액</label>
                <input type="number" name="totalPrice" class="form-control postInput" id="inputTotalPrice"/>
            </div>
            <div class="form-group row">
                <label for="inputFile" class="postLabel">대표이미지</label>
                <div class="custom-file" id="inputFile">
                    <input name="file" type="file" class="custom-file-input" id="customFile"/>
                </div>
            </div>
            <div>
                <button class="w-100 btn btn-lg createBTN" type="submit">방 생성하기</button>
            </div>
        </form>
    </div>
</div>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
    $('.custom-file-input').on('change', function () {
        var fileName = $(this).val().split('\\').pop();
        $(this).siblings('.custom-file-label').addClass('selected').html(fileName);
    });
</script>
</body>
</html>