.b_home {
    border-radius: 0.7rem;
    border-color: #ffffff;
    border-width: medium;
    background-color: #4f856e;
    color: #ffffff;
}

.b_home:hover {
    background-color: #b4d3c9;
    color: #4d4d4d;
}


.menu_image {
    margin-top: 0.43rem;
    width: 5.3rem;
}

.menu_title {
    color: #305546;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0;
}

.menu_ex {
    color: #a3a3a3;
    font-size: 0.9rem;
    text-align: left;
    margin-bottom: 0;
}

.b_box {
    border-radius: 1.25rem;
    background-color: #FFFFFF;
    box-shadow: 0.25rem 0.25rem 0.625rem lightgray;
    transition: 0.2s;
}

.b_box:hover {
    background-color: #FFFFFF;
    filter: brightness(0.9);
}